# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main
resources:
- repo: self

stages:
- stage: Build
  displayName: Build and push stage
  
  jobs:
  - job: Build
    displayName: Build job

    pool:
      vmImage: ubuntu-latest

    steps:
    - task: Docker@2
    displayName: Build and push an image to container registry
    inputs:
      containerRegistry: 'finallyAccessPipelines'
      repository: 'devopsing'
      command: 'buildAndPush'
      Dockerfile: '$(Build.SourcesDirectory)/flask1/Dockerfile'
      displayName: 'Docker image build'
      tags: 1.2



